<style>
    div: {
        padding: 10px;
    }
</style>

<div>
    <p>Hello,</p>
    <br />
    <p>Please send a request to the link below:</p>
    <p> <a href={{link}}>{{link}}</a>. </p>
    <p> The link will expire in 24 hours.</p>
    <p>If you didn't request to change your password, please ignore this message.</p>
</div>